body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #333;
    transition: background-color 0.3s;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: darkorange;
    padding: 15px 20px;
    display: block;
    transition: color 0.3s, background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    color: #fff;
}

section {
    padding: 100px 20px;
    height: 100vh;
    text-align: center;
}

#home {
    background-color: #f4f4f4;
    color: black;
}

#about {
    background-color: #e2e2e2;
    color: black;
}

#services {
    background-color: #d0d0d0;
    color: black;
}

#contact {
    background-color: #bdbdbd;
    color: black;
}
